* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
  /* height: 62rem; */
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: -3.5rem;
}

.welcome {
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 3rem;
  padding-right: 55rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 22rem;
  padding-left: 3rem;
  margin-top: 3rem;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 40vw;
  width: 45rem;
  height: 47rem;
  padding-left: 5rem;
  padding-top: 5rem;
  margin-top: 10rem;
  background-color: #222222;
  border-radius: 1rem;
  opacity: 0;
  visibility: hidden;
}

.login p {
  font-size: 4rem;
  color: #2ccdca;
  text-align: center;
  padding-right: 7rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.login-input {
  padding: 0.1rem 1rem;
  font-size: 2rem;
  font-family: inherit;
  width: 35rem;
  background-color: #333333;
  margin-right: 2rem;
  padding: 1.2rem;
  border-radius: 6px;
  color: inherit;
  transition: all 0.3s;
}

.login-input:focus {
  color: #bababa;
}

.login-input::placeholder {
  color: #b9b9b9;
}

.login-btn {
  background-color: #2ccdca;
  display: block;
  margin-top: 2rem;
  padding: 1.2rem;
  border-radius: 6px;
  width: 35rem;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn:hover {
  background-color: rgb(12, 140, 140);
  color: black;
}

.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;
  opacity: 0;
  transition: all 0.3s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance-label {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance-date {
  font-size: 1.4rem;
  color: #888;
}

.balance-value {
  font-size: 4.5rem;
  font-weight: 400;
}

.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  overflow-y: scroll;
}

.movements-row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements-type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements-date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements-type-deposit {
  background-color: #00b79f;
}

.movements-type-withdrawal {
  background-color: #f3442a;
}

.movements-value {
  font-size: 1.7rem;
  margin-left: auto;
}

.summary {
  grid-row: 5/6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary-label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary-value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary-value-in,
.summary-value-interest {
  color: #00b79f;
}

.summary-value-out {
  color: #f3442a;
}

.btn-sort {
  margin-left: auto;
  background: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation-transfer {
  background-color: #00b79f;
}

.operation-loan {
  background-color: #f3442a;
}

.operation-close {
  background-color: #fdb850;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

.form.form-loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form-label-loan {
  grid-row: 2;
}

.form-input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.form-input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

.form-label {
  font-size: 1.2rem;
  text-align: center;
}

.form-btn {
  border-radius: 0.5rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form-btn:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 2rem;
  text-align: right;
  font-size: 1.3rem;
}

.nav-link {
  display: flex;
  gap: 6rem;
  margin-top: 2rem;
  margin-right: 4rem;
}

.log {
  font-size: 2.1rem;
  background-color: #2ccdca;
  padding: 1rem 4rem;
  border-radius: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 1.4rem;
  cursor: pointer;
}

.nav-link a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: 200;
  margin-top: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.timer {
  font-weight: 600;
}

footer {
  text-align: center;
  font-size: 1.3rem;
  color: #888;
  padding-top: 3rem;
}

.header__title {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
}

.header__right {
  width: 55rem;
}

.header__left {
  width: 70rem;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

h1 {
  font-size: 5.8rem;
  padding-right: 5rem;
  margin-top: 4.5rem;
  font-weight: bold;
}

h4 {
  font-size: 2.3rem;
  font-weight: 500;
  word-spacing: 2px;
}

.btn--text {
  margin-top: 1rem;
  font-size: 2rem;
  color: #2ccdca;
  border-bottom: 2px solid #2ccdca;
  word-spacing: 2px;
}
